<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bmilk.amp.ampService.mapper.AmpColonyConfigMapper">
    <resultMap id="AmpColonyConfigEntity" type="cn.bmilk.amp.ampService.mapper.entity.AmpColonyConfigEntity">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="unique_token" property="uniqueToken"/>
        <result column="colony_name" property="colonyName"/>
        <result column="config_key" property="configKey"/>
        <result column="config_value" property="configValue"/>
        <result column="app_name" property="appName"/>
    </resultMap>

    <sql id="Base_column_list">
        ID,
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_AT,
        UPDATE_AT,
        UNIQUE_TOKEN,
        COLONY_NAME,
        CONFIG_KEY,
        CONFIG_VALUE,
        APP_NAME
    </sql>

    <insert id="insert">
        <selectKey keyColumn="id" keyProperty="entity.id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO AMP_COLONY_CONFIG(
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_AT,
        UPDATE_AT,
        UNIQUE_TOKEN,
        COLONY_NAME,
        CONFIG_KEY,
        CONFIG_VALUE,
        APP_NAME
        ) VALUE(
        NOW(),
        NOW(),
        'SYS',
        'SYS',
        0,
        #{entity.colonyName},
        #{entity.configKey},
        #{entity.configValue},
        #{entity.appName}
        )
    </insert>

    <select id="queryByKeyListAndColony" resultMap="AmpColonyConfigEntity">
        select
        <include refid="Base_column_list"/>
        FROM AMP_COLONY_CONFIG
        where COLONY_NAME = #{colonyName}
        and UNIQUE_TOKEN = 0
        and config_key in
        <foreach collection="keyList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryByAppAndColony" resultMap="AmpColonyConfigEntity">
        select
        <include refid="Base_column_list"/>
        FROM AMP_COLONY_CONFIG
        where COLONY_NAME = #{colonyName}
        and UNIQUE_TOKEN = 0
        and app_name = #{appName}
    </select>
</mapper>