<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bmilk.amp.ampService.mapper.AmpConfigItemTmpMapper">
    <resultMap id = "AmpConfigItemTmpEntity" type = "cn.bmilk.amp.ampService.mapper.entity.AmpConfigItemTmpEntity">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="unique_token" property="uniqueToken"/>
        <result column="amp_no" property="ampNo"/>
        <result column="config_key" property="configKey"/>
        <result column="config_value" property="configValue"/>
        <result column="config_type" property="configType"/>
        <result column="config_desc" property="configDesc"/>
        <result column="environment_name" property="environmentName"/>
    </resultMap>

    <sql id="Base_column_list">
        ID,
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_AT,
        UPDATE_AT,
        UNIQUE_TOKEN,
        AMP_NO,
        CONFIG_KEY,
        CONFIG_VALUE,
        CONFIG_TYPE,
        CONFIG_DESC,
        ENVIRONMENT_NAME
    </sql>

    <insert id="insert">
        <selectKey keyColumn="id" keyProperty="entity.id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO AMP_CONFIG_ITEM_TMP(
            CREATE_TIME,
            UPDATE_TIME,
            CREATE_AT,
            UPDATE_AT,
            UNIQUE_TOKEN,
            AMP_NO,
            CONFIG_KEY,
            CONFIG_VALUE,
            CONFIG_TYPE,
            CONFIG_DESC,
            ENVIRONMENT_NAME
        ) VALUE(
            NOW(),
            NOW(),
            'SYS',
            'SYS',
            0,
            #{entity.ampNo},
            #{entity.configKey},
            #{entity.configValue},
            #{entity.configType},
            #{entity.configDesc},
            #{entity.environmentName}
        )
    </insert>

    <select id="queryConfigListByAmpNo" resultMap="AmpConfigItemTmpEntity">
        select
        <include refid="Base_column_list"/>
        from AMP_CONFIG_ITEM_TMP
        where AMP_NO = #{ampNo} and UNIQUE_TOKEN=0
    </select>

</mapper>