<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bmilk.amp.ampService.mapper.AmpEnvironmentMapper">
    <resultMap id = "AmpEnvironmentEntity" type = "cn.bmilk.amp.ampService.mapper.entity.AmpEnvironmentEntity">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="unique_token" property="uniqueToken"/>
        <result column="environment_name" property="environmentName"/>
        <result column="environment_desc" property="environmentDesc"/>
    </resultMap>

    <sql id="Base_column_list">
        ID,
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_AT,
        UPDATE_AT,
        UNIQUE_TOKEN,
        ENVIRONMENT_NAME,
        ENVIRONMENT_DESC
    </sql>

    <insert id="insert" >
        <selectKey keyColumn="id" keyProperty="entity.id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
            INSERT INTO AMP_ENVIRONMENT(
            CREATE_TIME,
            UPDATE_TIME,
            CREATE_AT,
            UPDATE_AT,
            UNIQUE_TOKEN,
            ENVIRONMENT_NAME,
            ENVIRONMENT_DESC
        ) VALUE(
            NOW(),
            NOW(),
            'SYS',
            'SYS',
            0,
            #{entity.environmentName},
            #{entity.environmentDesc}
        )
    </insert>


</mapper>