<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bmilk.amp.ampService.mapper.AmpRecordMapper">
    <resultMap id = "AmpRecordEntity" type = "cn.bmilk.amp.ampService.mapper.entity.AmpRecordEntity">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="unique_token" property="uniqueToken"/>
        <result column="amp_no" property="ampNo"/>
        <result column="environment" property="environment"/>
        <result column="application_id" property="applicationId"/>
        <result column="application_name" property="applicationName"/>
        <result column="amp_desc" property="ampDesc"/>
        <result column="amp_task_rel" property="ampTaskRel"/>
        <result column="launch_date" property="launchDate"/>
        <result column="create_user" property="createUser"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="operator" property="operator"/>
    </resultMap>

    <sql id="Base_column_list">
        ID,
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_AT,
        UPDATE_AT,
        UNIQUE_TOKEN,
        AMP_NO,
        ENVIRONMENT,
        APPLICATION_ID,
        APPLICATION_NAME,
        AMP_DESC,
        AMP_TASK_REL,
        LAUNCH_DATE,
        CREATE_USER,
        STATUS,
        TYPE,
        OPERATOR
    </sql>

    <insert id="insert">
        <selectKey keyColumn="id" keyProperty="entity.id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO AMP_RECORD(
            CREATE_TIME,
            UPDATE_TIME,
            CREATE_AT,
            UPDATE_AT,
            UNIQUE_TOKEN,
            AMP_NO,
            ENVIRONMENT,
            APPLICATION_ID,
            APPLICATION_NAME,
            AMP_DESC,
            AMP_TASK_REL,
            LAUNCH_DATE,
            CREATE_USER,
            STATUS,
            TYPE,
            OPERATOR
        ) VALUE (
            NOW(),
            NOW(),
            'SYS',
            'SYS',
            0,
            #{entity.ampNo},
            #{entity.environment},
            #{entity.applicationId},
            #{entity.applicationName},
            #{entity.ampDesc},
            #{entity.ampTaskRel},
            #{entity.launchDate},
            #{entity.createUser},
            #{entity.status},
            #{entity.type},
            #{entity.operator}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO AMP_RECORD(
            CREATE_TIME,
            UPDATE_TIME,
            CREATE_AT,
            UPDATE_AT,
            UNIQUE_TOKEN,
            AMP_NO,
            ENVIRONMENT,
            APPLICATION_ID,
            APPLICATION_NAME,
            AMP_DESC,
            AMP_TASK_REL,
            LAUNCH_DATE,
            CREATE_USER,
            STATUS,
            TYPE,
            OPERATOR
        ) VALUES
        <foreach collection="entityList" item="entity" separator="," index="index">
            (
                NOW(),
                NOW(),
                'SYS',
                'SYS',
                0,
                #{entity.ampNo},
                #{entity.environment},
                #{entity.applicationId},
                #{entity.applicationName},
                #{entity.ampDesc},
                #{entity.ampTaskRel},
                #{entity.launchDate},
                #{entity.createUser},
                #{entity.status},
                #{entity.type},
                #{entity.operator}
            )
        </foreach>
    </insert>

    <select id="queryAmpRecord" resultMap="AmpRecordEntity">
        select
        <include refid="Base_column_list"/>
        from AMP_RECORD
        where AMP_NO = #{ampNo} and UNIQUE_TOKEN=0
    </select>

    <select id="queryAmpRecordList" resultMap="AmpRecordEntity">
        select
        <include refid="Base_column_list"/>
        from AMP_RECORD
        <if test="createUser != null and createUser != ''">
            where CREATE_USER = #{createUser} and UNIQUE_TOKEN=0
        </if>
        order by ID desc
        limit #{offset}, #{count}
    </select>

    <update id="updateStatus" >
        UPDATE AMP_RECORD
        SET STATUS = #{newStatus}
        WHERE id = #{id} and STATUS = #{oldStatus} and UNIQUE_TOKEN = 0
    </update>
</mapper>